<app-root></app-root>
<mat-card-header>
  <h1>Login</h1>
</mat-card-header>
<mat-card>
  <mat-card-content>
    <form class="example-form" [formGroup]="Loginform" (ngSubmit)="Login()">
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input
          matInput
          formControlName="id"
          placeholder="Enter the UserName"
          value=""
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>User Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="userPassword"
          placeholder="Enter the UserPassword"
          value=""
        />
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" style="margin-bottom:20px;">Submit</button>
        <br>
        <button routerLink="/signup" mat-flat-button color="accent">Register New User?</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
